<head th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>Dashboard | Project Management</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}" />
    <link rel="stylesheet" th:href="@{/css/_all-skins.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.gantt.css}" />
    <link rel="stylesheet" th:href="@{/css/datepicker3.css}" />

    <script th:src="@{js/jquery-2.2.3.min.js}" type="text/javascript"></script>
    <script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
    
    
    <script th:src="@{js/angular.min.js}" type="text/javascript"></script>
    <script th:src="@{js/app/app.module.js}" type="text/javascript"></script>
    <script th:src="@{js/app/dashboard.controller.js}" type="text/javascript"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

