<div th:fragment="menu">
    <span id="ajax-loader" style="display:none;">
        <div id="ajax-loader-layer"></div>
        <div id="image-ajax-loader"><span class="loader"><i class="fa fa-cog fa-spin"></i></span>

            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                     aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span>Process ...</span>
                </div>
            </div>
        </div>
    </span>
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>A</b></span>
            <span class="logo-lg"><b>Administrator</b></span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="" class="img-circle" alt="User Image" />
                                <p>
                                    <small>Terdaftar Tanggal </small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">

                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar ">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>

                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> <span>Keluar</span>
                    </a>
                </li>

            </ul>

        </section>
    </aside>
</div>