<div th:fragment="Page" >
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><a class="sorted" sd:pagination-sort="projId" >ID</a></th>
                <th><a class="sorted" sd:pagination-sort="projName" >Name</a></th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${page}">
                <td scope="row" th:text="${row.projId}">ID</td>
                <td th:text="${row.projName}">Name</td>
                <td th:text="${row.projOwner}">Owner</td>
                <td><a href="" th:href="@{'/project/edit/'+${row.projId}}">edit</a></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full" sd:pagination-url="@{/users}">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>